{% extends 'common/base.html' %}

{% block content %}
<main>
    <div class="container">
        <section class="py-lg-5 py-md-3 py-2">
            <h2 class="text-center"><span class="mr-pc font-weight-bold">About</span> Rama Krishna Hotel</h2>
            <hr class="hr-bar mt-n2 rounded">
            <p class="text-justify">The Palace Luxury Resort is the largest resort in Bangladesh, and is neatly located
                at Bahubal, Habiganj,
                Sylhet, some 171 km away from the hustle-bustle of Dhaka. Immerse in a dreamlike setting of tranquility,
                where one can indulge in a regal experience like no other. Built over 150 acres of land amid serene
                green tea gardens, the Resort has 22 exquisite hilltop villas for family or group outings, and 107
                spacious guestrooms in the Tower Building.

                Once inside the majestic resort, The Palace offers a world of exhilarating activities like boating,
                angling, trekking, and cycling. One can choose to spend a hot summer day at the Water Zone, spend time
                at the Indoor and Outdoor Game Zones, or try the relaxing experience at the sauna, Jacuzzi, or the
                Turkish Bath. For movie aficionados, there is the option to experience the amenities of a modern
                theatre.
            </p>
        </section>
        <!-- Our Team section starts here -->
        <section class="py-lg-5 py-md-3 py-2 text-center">

            <h2 class="text-center">Our <span class="mr-pc font-weight-bold">Team</span></h2>
            <hr class="hr-bar mt-n2 rounded">
            <div>
                <div class="card-group">
                    <div class="card">
                        <img src="static/images/card1.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Ajay Khandelwal</h5>
                            <p class="card-text">Chief Executive Officer</p>
                            <p class="card-text">Ajay has over 20 years of experience in the hospitality industry, bringing a wealth of knowledge and expertise to our team.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                    <div class="card">
                        <img src="static/images/card2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Charu Khandelwal</h5>
                            <p class="card-text">Chief Operating Officer</p>
                            <p class="card-text">Charu is an expert in operations management with a track record of successfully leading teams to achieve exceptional results.</p>    
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                    <div class="card">
                        <img src="static/images/card3.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Tanshi Khandelwal</h5>
                            <p class="card-text">Chief Financial Officer</p>
                            <p class="card-text">Tanshi has a strong background in finance and accounting, ensuring our financial health and strategic growth.</p>    
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Our team sectiosn ends here -->

        <!-- Our partners starts from here -->
        <section class="py-lg-5 py-md-3 py-2 text-center">
            <h2 class="text-center">Our <span class="mr-pc font-weight-bold">Partners</span></h2>
            <hr class="hr-bar mt-n2 rounded">
            <div>
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="static/images/card1.png" class="card-img-top" alt="...">
                        </div> <!-- Close col-md-4 here -->
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Ajay Khandelwal</h5>
                                <p class="card-text">Ajay has over 20 years of experience in the hospitality industry, bringing a wealth of knowledge and expertise to our team.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div> <!-- Close col-md-8 here -->
                    </div> <!-- Close row no-gutters here -->
                </div> <!-- Close card mb-3 here -->
            </div>
        </section>
        
        <!-- Our partners section ends here -->
        
    </div>
</main>
{% endblock content%}